<meta charset="utf-8">
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Bike Shop Management">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="gwt:property" content="locale=en">
<script type="text/javascript" src="${gwtModule}"></script>
<title>${appTitle}</title>
<style type="text/css"><%@ include file="inline-css/base.css" %></style>
<style type="text/css"><%@ include file="inline-css/normalize.css" %></style>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">